<h1>What Movie Do You Want to See?</h1>
          <h3>Find your perfect movie fast with Flix. Get movie showtimes, reviews and more.</h3>
        </div>
        <div class="tabgroup">
          <nav class="tabs clearfix">
            <ul>
              <li<%= ' class=active' if @placement.nil? %>><%= link_to "All Movies", movies_path %><li>
              <li<%= ' class=active' if @placement == "in_theaters" %>><%= link_to "In Theaters", "/movies/recommended/in_theaters" %><li>
              <li<%= ' class=active' if @placement == "coming_soon" %>><%= link_to "Coming Soon", "/movies/recommended/coming_soon" %><li>
              <li<%= ' class=active' if @placement == "go_now" %>><%= link_to "Go Now", "/movies/recommended/go_now" %><li>
            </ul>
          </nav>
          <div class="clearfix">
            <ul class="content-links-list clearfix">
              <% @movies.each do |movie| %>
                <li>
                  <%= link_to movie_path(movie) do %>
                    <div class="clearfix">
                      <%= image_tag "posters/thumbs/#{movie.poster_image}", class: 'imgLeft' %>
                      <div class="clearfix">
                        <h3><%= movie.title %></h3>
                        <div><%= movie.cast %></div>
                        <div><%= movie.mpaa_rating %>, <%= movie.runtime_hours %></div>
                        <div><span class="button">More ›</span></div>
                      </div>
                    </div>
                  <% end %>
                </li>
              <% end %>
            </ul>
            <div class="inset-block">
              <a class="more-movies" href="#">View More Movies</a>
            </div>
          </div>
